h1 {
  text-align: center;
}

body {
  text-align: center;
  font-family: sans-serif;
}

canvas {
  background-color: white;
}

#navbar {
  overflow: hidden;
  display: block;
  background: transparent;
  text-align: center;
  width: 100vw;
}

#navbar > h1 {
  font-size: 50px;
  width:fit-content;
  display:inline-block;
}

#settingsButton {
  display: inline-block;
  float: right;
  padding: 5px;
  margin-top: 5px;
  margin-right: 20px;
  text-align: center;
  /* makes the pointer into a hand to make it more button feely. yay ux/ui */
  cursor: pointer;
}

#main {
  display: inline-block;
}

#leftColumn {
  display: inline-block;
  vertical-align:top;
  padding: 5px;
  font-size: 20px;
}

#hold {
  display: inline-block;
  vertical-align:top;
  padding: 5px;
  font-size: 30px;
  border: 1px black solid;
}

#holdPiece {
  display: inline-block;
  vertical-align:top;
  padding: 5px;
  width: 250px;
  height: 200px;
  align-items: center;
}

#tetrisBoard {
  display: inline-block;
  padding: 5px;
}

#rightColumn {
  display: inline-block;
  vertical-align:top;
  padding: 5px;
  font-size: 20px;
}

#nextPieces {
  display: inline-block;
  vertical-align:top;
  /* align-self: center;
  align-content: center;
  align-items: center;
  align: center; */
  padding: 5px;
  border: 1px black solid;
}

#nextPieces > img {
  display: block;
  /* align-self: center;
  align-content: center;
  align-items: center;
  align: center; */
  padding: 10px;
  width: 50px;
  height: 50px;
}

#scoreDiv {
  display: inline-block;
  vertical-align:top;
  padding: 5px;
  border: 1px black solid;
}

#score {
  display: inline-block;
  vertical-align:top;
  padding: 5px;
  font-size: 40px;
  font-weight: bold;
}
